:root {
  --color-primary: 24 35 18;
  --color-on-primary: 255 255 255;
  --color-primary-container: 45 57 38;
  --color-on-primary-container: 149 163 138;
  --color-primary-fixed: 217 231 204;
  --color-primary-fixed-dim: 189 203 177;
  --color-on-primary-fixed: 19 30 14;
  --color-on-primary-fixed-variant: 62 74 54;
  --color-secondary: 99 94 83;
  --color-on-secondary: 255 255 255;
  --color-secondary-container: 231 223 209;
  --color-on-secondary-container: 104 98 87;
  --color-secondary-fixed: 234 225 212;
  --color-secondary-fixed-dim: 205 197 185;
  --color-on-secondary-fixed: 31 27 19;
  --color-on-secondary-fixed-variant: 75 70 60;
  --color-tertiary: 32 33 33;
  --color-on-tertiary: 255 255 255;
  --color-tertiary-container: 53 54 54;
  --color-on-tertiary-container: 159 159 158;
  --color-tertiary-fixed: 227 226 226;
  --color-tertiary-fixed-dim: 199 198 198;
  --color-on-tertiary-fixed: 27 28 28;
  --color-on-tertiary-fixed-variant: 70 71 71;
  --color-error: 186 26 26;
  --color-on-error: 255 255 255;
  --color-error-container: 255 218 214;
  --color-on-error-container: 147 0 10;
  --color-background: 251 249 245;
  --color-on-background: 27 28 26;
  --color-surface: 251 249 245;
  --color-on-surface: 27 28 26;
  --color-surface-dim: 219 218 214;
  --color-surface-bright: 251 249 245;
  --color-surface-container-lowest: 255 255 255;
  --color-surface-container-low: 245 243 239;
  --color-surface-container: 240 238 234;
  --color-surface-container-high: 234 232 228;
  --color-surface-container-highest: 228 226 222;
  --color-surface-variant: 228 226 222;
  --color-on-surface-variant: 68 72 65;
  --color-outline: 117 120 112;
  --color-outline-variant: 197 200 190;
  --color-inverse-surface: 48 49 46;
  --color-inverse-on-surface: 242 240 236;
  --color-inverse-primary: 189 203 177;
  --color-surface-tint: 85 98 77;
}

.dark {
  --color-primary: 163 163 163;
  --color-on-primary: 26 26 26;
  --color-primary-container: 64 64 64;
  --color-on-primary-container: 212 212 212;
  --color-primary-fixed: 229 229 229;
  --color-primary-fixed-dim: 163 163 163;
  --color-on-primary-fixed: 26 26 26;
  --color-on-primary-fixed-variant: 82 82 82;
  --color-secondary: 205 197 185;
  --color-on-secondary: 52 48 39;
  --color-secondary-container: 75 70 60;
  --color-on-secondary-container: 188 180 168;
  --color-secondary-fixed: 234 225 212;
  --color-secondary-fixed-dim: 205 197 185;
  --color-on-secondary-fixed: 31 27 19;
  --color-on-secondary-fixed-variant: 75 70 60;
  --color-tertiary: 199 198 198;
  --color-on-tertiary: 48 48 49;
  --color-tertiary-container: 53 54 54;
  --color-on-tertiary-container: 159 159 158;
  --color-tertiary-fixed: 227 226 226;
  --color-tertiary-fixed-dim: 199 198 198;
  --color-on-tertiary-fixed: 27 28 28;
  --color-on-tertiary-fixed-variant: 70 71 71;
  --color-error: 255 180 171;
  --color-on-error: 105 0 5;
  --color-error-container: 147 0 10;
  --color-on-error-container: 255 218 214;
  --color-background: 19 20 18;
  --color-on-background: 228 226 222;
  --color-surface: 19 20 18;
  --color-on-surface: 228 226 222;
  --color-surface-dim: 19 20 18;
  --color-surface-bright: 57 57 55;
  --color-surface-container-lowest: 14 14 12;
  --color-surface-container-low: 27 28 26;
  --color-surface-container: 31 32 30;
  --color-surface-container-high: 42 42 40;
  --color-surface-container-highest: 52 53 50;
  --color-surface-variant: 52 53 50;
  --color-on-surface-variant: 197 200 190;
  --color-outline: 143 146 137;
  --color-outline-variant: 163 163 163;
  --color-inverse-surface: 228 226 222;
  --color-inverse-on-surface: 48 49 46;
  --color-inverse-primary: 163 163 163;
  --color-surface-tint: 163 163 163;
}
